<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="alternate" type="application/atom+xml" title="%s - feed" href="/index.xml" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{ model.title }}</title>
    </head>
    <body>
        <header class="cf">
            <h3><a href="/">Jeff Boek</a></h3>
            <nav>
            <a href="/archives">Archives</a> |
            <a href="http://twitter.com/jeffboek">Twitter</a>
            </nav>
        </header>
        <section>
            {{ model.content }}
        </section>
        <footer>
            powered by <a href="#Capsule">capsule</a>
        </footer>
    </body>
</html>